@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

#main {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    width: fit-content;
    border: 1px solid #5b7b65;
}

#img {
    height:300px;
    width: 300px;
    object-fit: cover;
    margin-right: 20px;
}

#link-container {
    display: flex;
    align-items: center;
    gap: 4rem;

}

#content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
    padding: 1rem;

}

.links {
    width: 100px;
    display: flex;
    flex-direction: column;
    color: white;
}

#search {
    width: 450px;
    background: transparent;
    color: white;
    padding-bottom: 2px;
}

#search-box {
    border-bottom: 1px solid #5b7b65 !important;
}

#search:focus {
    outline: none;
}


.title {
    font-weight: 500;
}

a:hover {
    color: #5b7b65;
}

#currentTime {
    font-size: 18px;
    font-weight: 400;
    color: white
}