@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #454545;
  font-family: "Fira Code", monospace;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-top: -10vh;
}

#search-box {
  width: 100%;
  border-radius: 5px;
}

#link-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 1;
      flex-basis: 1;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

form {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 1% 1%;
}

input {
  display: inline;
  width: 100%;
  border: none;
  background: none;
  font-size: 1rem;
  color: white;
  padding: 10px;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
}

input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
}

input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-size: 0.9em;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  height: 90%;
  margin: 1% 1%;
  padding: 10px;
}

.links ul {
  list-style: none;
  color: white;
}

.title {
  padding-bottom: 10px;
  color: #a8dac1;
  font-weight: bold;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #a8dac1;
  -webkit-animation-duration: 0.01s;
          animation-duration: 0.01s;
  -webkit-animation-name: textflicker;
          animation-name: textflicker;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #a98fbe, -2px 0 0 #a8dac1;
  }
  to {
    text-shadow: 2px 0.5px 2px #a98fbe, -1px -0.5px 2px #a8dac1;
  }
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #a98fbe, -2px 0 0 #a8dac1;
  }
  to {
    text-shadow: 2px 0.5px 2px #a98fbe, -1px -0.5px 2px #a8dac1;
  }
}
/*# sourceMappingURL=styles.css.map */